---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post{% if post.layout == 'tweet' %} tweet-post{% endif %}">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      {{ post.date | date_to_string }}
      {% if post.layout != 'tweet' %}
        &nbsp;&bull;&nbsp; {% include reading_time.html content=post.content %}
      {% endif %}
    </span>

    {% if post.layout == 'tweet' %}
      <div class="tweet-container">
        {% include tweet_embed.html post=post %}
      </div>
    {% else %}
      {{ post.content }}
    {% endif %}
    <br/>
    <hr style="border-width:3px";>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ "/" | relative_url }}">&laquo; Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ "/" | relative_url }}page{{paginator.previous_page}}">&laquo; Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">&laquo; Newer</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ "/" | relative_url }}page{{paginator.next_page}}">Older &raquo;</a>
  {% else %}
    <span class="pagination-item older">Older &raquo;</span>
  {% endif %}
</div>
