.img-circular {
  width: 100px;
  height: 100px;
  background-image: url('../../public/images/id/id.png');
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

#social-list {
  position: relative;
  overflow: hidden;
}

.social {
  position: relative;
    float: center;
    margin-right: 20px;
}
