<div class="sidebar">
  <div class="container">
    <div class="img-circular"></div>
    <div class="sidebar-about">
      <center>
        <h3>
          <a href="{{ "/" | relative_url }}">
            {{ site.myname }}
          </a>
        </h3>
        <p class="lead" style="font-size:15px">{{ site.description }}</p>

        <div id="social-list1">
          <div class="social1">
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter">
              {% include icon-twitter.svg %}
            </a>
          </div>
          <div class="social1">
            <a target="_blank" href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
              {% include icon-github.svg %}
            </a>
          </div>
          <div class="social1">
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn">
              {% include icon-linkedin.svg %}
            </a>
          </div>
        </div>
      </center>
    </div>

    <hr>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>

      {% assign pages_list = site.pages | sort: 'order' %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>&copy; 2004-{{ site.time | date: '%Y' }}</p>
  </div>
</div>
