<link rel="stylesheet" href="/public/css/rockoder1.css">

<div class="sidebar">
  <div class="container">
    <div class="img-circular"></div>
    <div class="sidebar-about">
    <center>
      <h3>
        <a href="{{ "/" | relative_url }}">
          {{ site.myname }}
        </a>
      </h3>
      <p class="lead" style="font-size:15px">{{ site.description }}</p>
      <p class="lead" style="font-size:15px"></p>
        <div id="social-list">
          <div class="social">
            <a target="_blank"  href="https://twitter.com/rockoder"><img border="0" src="{{ site.url }}/public/images/icons/twitter.png" ></a>
            </div>
          <div class="social"> 
            <a target="_blank"  href="https://github.com/rockoder"><img border="0" src="{{ site.url }}/public/images/icons/github.png" ></a>
            </div>
          <div class="social">
            <a target="_blank"  href="http://www.linkedin.com/in/rockoder"><img border="0" src="{{ site.url }}/public/images/icons/linkedin.png" ></a>
            </div>
        </div>
    </center>
  </div>

    <hr>
    <!-- </br></br></br></br></br></br></br></br> -->
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>&copy; 2004-{{ site.time | date: '%Y' }}</p>
  </div>
</div>

---

<style type="text/css">
	#social-list {
	position: relative;
	overflow: hidden;
	}
	.social {
		position: relative;
	    float: center;
	    margin-right: 20px;
	}

</style>
